#fB{
    width:100%;
    border-style:ridge;
    background-color: white;
}
body{
    background-color:lightgrey;
}
#Heading{
    color:red;
}
#top{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    text-align: left;
    font-size: 200%;
    padding:1%;
    
}

#aps{
    justify-content: space-between;
    text-align: left;
    color:black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    font-size: 125%;
    padding:1%;
  
}

#undo{
    width:100%;
    font-size: 125%;
    text-align: center;
    background-color: lightyellow;
    height:200%;
}

#undo1{
    width:20%;
    font-size: 100%;
    background-color: lightblue;
}